.dashboard {

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__monitor {
    margin: 0 0 4rem 0;
  }

  &__bots {
    margin: 0 0 3rem 0;
  }

  &__timerange {
    margin: auto 0 0 0;
  }
}
