@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$ff-main: "Roboto", serif;
$transition: .3s ease-in-out;
$border-radius: .5rem;


//colors
$bg: #1d2637;
$white: #ffffff;
$semi-white: #F4F7FB;
$accent-color: #F4F7FB;
$dark: #222229;
$inactive: #546076FF;

